aliyun:
  oss:
    access-key-id: LTAI5t6wsoyG8kbcgrKoZGUv
    access-key-secret: vGr97mqFvqOOQsNpq10IqijOjpzR8t
    bucket-domain: http://yichou.oss-cn-qingdao.aliyuncs.com
    bucket-name: yichou
    end-point: http://oss-cn-qingdao.aliyuncs.com
server:
  port: 5000
spring:
  application:
    name: yichou-project
  redis:
    database: 0
    host: localhost
    port: 6379
    password: 12345
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: -1ms
        min-idle: 0
  session:
    store-type: redis
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
eureka:
  client:
    service-url:
      defaultZone: http://localhost:1000/eureka/